body {
    background-color: #eba398;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.app {
    margin-bottom: 100px;
}

h1 {
    text-align: center;
}

.quiz {
    max-width: 600px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 10px solid #0f2335;
    margin-top: 60px;
    padding: 20px;
    border-radius: 15px;
    background-color: #f2f2f2;
}

h2 {
    text-align: center;

}

.container h2 {
    text-align: center;
    margin-bottom: 2;
    color: #0f2335;
    font-style: oblique;
    font-size: 25px;

}


.container img {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-bottom: 20px;
}

#answer-buttons {
    position: absolute;
    top: 40%;
    right: 0;
    margin-top: 50px;
}

.btn {
    width: 200px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #e0e0e0;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ccc;
}

.Top {
    background-color: #0f2335;
    width: 100%;
    height: 100px;
    font-size: larger;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#mlogo {
    color: #eba398;
    font-style: oblique;
    font-size: 30px;
    margin-right: 10px;
}

#slogo {
    color: white;
    font-size: 25px;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    .btn {
        width: 100%;
    }
}