/* 
# er for id
. er for class
*/
body{
    background-color: #eba398;  
    font: italic bold;
}
.Top{
    background-color: #0f2335;
    width: 100%;
    height: 100px;
    font-size: larger;
    
}
#slogo{
    color: white;
}
#mlogo{
    color: #eba398;
    font-style: oblique;
}
.mid{
    color: #0f2335;
    width: 100%;
    height:fill;
}