/* 
# er for id
. er for class
*/
body{
    background-color: #eba398;  
    font: italic bold;
    margin: 0;
    padding: 0;
}
.Top {
    background-color: #0f2335;
    width: 100%;
    height: 100px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#mlogo {
    color: #eba398;
    font-style: oblique;
    margin-right: 10px;
}

#slogo {
    color: white;
}
.floors{
    width: 100%;
    height: 50px;
}
td{
    margin: 0;
    padding: 0;
    border-top: 1px solid #0f2335;
    text-align: left;
}
th{
    padding-left: 20px;
    border-right: 1px solid #0f2335;
    text-align: left;
    border-top: 1px solid #0f2335;
}

button{
    height: 100px;
    background-color: #eba398;
    border: 0;
    color: #0f2335;
    font-size: 25px;
    font-weight: 900;
}
button:hover{
    color: white;
}
#site{
    color: #0f2335;
    padding-left: 20px;
}
#toptable{
    border-top: 0;
}