
:root {
	--munchPink: #eba398;
	--munchBlack: #000000;
	--munchRed: #fe390f;
	--munchGreen: #00ff00;
	--munchNavy: #0f2335;
	--munchGold: #9b8250;
	--munchLightGray: #f0f0f0;
}


/* Body styles */
body {
	font-family: Arial, sans-serif;
	color: var(--munchNavy);
	padding: 20px;
}

/* Top banner styles */
.Top {
	background-color: var(--munchNavy);
	text-align: center;
	padding: 10px;
	width: 100vw; /* Set width to 100% of viewport width */
	box-sizing: border-box; /* Include padding within the width */
	margin-left: calc(50% - 50vw); /* Center the banner */
	margin-right: calc(50% - 50vw); /* Center the banner */
	top: 0px;
	left: 0px;
}

.mid {
	text-align: center;
	position: ab;
	top: 100px;


}
#home {
	background-color: transparent;
	border: none;
	cursor: pointer;
	margin-right: 20px;
	display: inline-block;
}

#home:hover {
	background-color: var(--munchPink);
	scale: 1.05;
}

#placeholder {
	width: 200px;
	display: flex;
	align-content: center;
	background-color: transparent;
}

#mlogo,
#slogo {
	font-size: 24px;
	font-weight: bold;
	margin: 0;
	display: inline-block;
	color: #fff;
}


#image-select {
	padding: 5px;
	font-size: 16px;
	border-radius: 5px;
	margin-bottom: 10px;
}

#btnSelect,
button {
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 5px;
}

#btnSelect:hover,
button:hover {
	background-color: #eba398;
}

button {
	background-color: var(--munchNavy);
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.quiz {
	padding: 20px;
	text-align: center;
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow: 2px 1px 1px 1px var(--munchBlack);
	width: 90vw;
	margin-left: calc(50% - 42.5vw); /* Center the banner */
	margin-right: calc(50% - 42.5vw); /* Center the banner */
	min-width: 800px;
	background-color: var(--munchLightGray);
}

h1 {
	font-size: 24px;
	margin-bottom: 20px;
}

#image-container,
#resultDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 350px; /* Adjust the width as desired */
	height: 350px; /* Adjust the height as desired */
	margin: 0 auto; /* Center horizontally */
	overflow: hidden;
	position: relative;
	transition: transform 0.3s ease; /* Added transition for hover effect */
}

#image-container img{
	background-size: cover;
	background-position: center;
	border-radius: 10%;
	margin: 0 auto;
	display: block;
}

#resultDiv img {
	border-radius: 10%;
	margin: 0 auto;
	display: block;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	
}

#image-container:hover {
	transform: scale(1.1); /* Make image bigger on hover */
}

#searchInput {
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 200px;
	font-family: Arial, Helvetica, sans-serif;
}

#containerSearch {
	position: relative;
	justify-content: center;
	align-items: center;
	text-align: center;
	display: inline-block;
	width: auto;
}

.dropdown-content {
	position: absolute;
	justify-content: center;
	align-items: center;
	text-align: left;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	display: none;
	z-index: 1;
	top: calc(100% + 5px); /* Add this line to position it below the search bar */
	width: 100%; /* Add this line to make it full width */
}

.dropdown-content a {
	display: block;
	cursor: pointer;
	color: var(--munchBlack);
	text-decoration: none;
	transition: background-color 0.3s ease;
	padding: 5px;
}

.dropdown-content a:hover {
	background-color: var(--munchPink);
}

.show {
	display: block;
}

#resultText {
	padding: 20px;
	border-radius: 10px;
	text-align: center;
	margin: 20px 0;
    
}


#resultText:not(:empty) {
	background-color: var(--munchNavy);
	color: var(--munchLightGray);
}


.fade-in {
	animation: fadeIn 1s;
}



/* Animation */
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
